
.category-cours p{
    color: palevioletred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.category-cours h1{
    color: palegreen;
}

#liste-cours {
      margin-bottom:0 ;
}

.liste-cours {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2% 2% 0% 15%;
    font-size : 1.5em;
  
    .domaine-1 { background-color: paleturquoise; color : #fff; }
    .domaine-2 { background-color: palegreen; color : #aaa;}
    .domaine-3 { background-color: palegoldenrod; color : #fff;}
    .domaine-4 { background-color: palevioletred; color : #fff;}
    .domaine-5 { background-color: peachpuff; color : #fff;}
    .domaine-6 { background-color: papayawhip; color : #fff;}
    h3,h4 { padding:5px;}

    @include media(mobile){
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        font-size : 1.3em;

    }

    @include media(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size : 1em;
     
    }

    @include media(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
   
    }

    @include media(wide) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
     
        }

    .entry-title {

        h3{
            font-size: .5em;
        }
        h4{
            font-size: .4em;
        }
    }






}